@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@font-face {
  font-family: "longline";
  src: url("https://assets.codepen.io/756881/Longline+Quart+FREE.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  height: 600vh;
  width: 100vw;
  font-family: "Nunito", sans-serif;
  background-color: #2d3436;
  color: white;
}

h1 {
  font-family: "longline";
}

.slider-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22vh;
  bottom: 20px;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 10vw;
}

.wheel {
  display: flex;
  position: absolute;

  top: 0;
  display: flex;
  width: 300vw;
  height: 300vw;
  max-width: 2000px;
  max-height: 2000px;
  left: 50%;
  transform: translateX(-50%);
}

.wheel__card {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

img {
  width: 18vh;
  height: 23vh;
  pointer-events: none;
  z-index: 999;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.header img {
  width: 15vw;
  height: 18vw;
  z-index: 5;
}

.title-wrap {
  display: flex;
  justify-content: center;
}

.title {
  margin-top: 50px;
  margin-right: 0.6%;
  font-size: 5vh;
  animation: neon 1s ease infinite;
  position: fixed;
}

/* SCROLL DOWN */
.scroll-down {
  text-align: center;
  position: fixed;
  bottom: 2%;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 4vh;
  overflow: visible;
  text-shadow: 0 0 1vw #f5cd79, 0 0 3vw #f5cd79, 0 0 10vw #f5cd79,
    0 0 10vw #f5cd79, 0 0 0.4vw #ffc048, 0.3vw 0.3vw 0.6vw #ffc048;
  color: #f5cd79;
}

.scroll-down .arrow {
  position: relative;
  top: 0px;
  margin: 0 auto;
  width: 15px;
  height: 15px;
  filter: invert(1);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
  background-size: contain;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #00b894, 0 0 2vw #00b894, 0 0 1vw #00b894,
      0 0 3vw #00b894, 0 0 0.4vw #8bfdfe, 0.2vw 0.2vw 0.3vw #147280;
    color: #63cdda;
  }
  50% {
    text-shadow: 0 0 0.5vw #55efc4, 0 0 1.5vw #55efc4, 0 0 3vw #55efc4,
      0 0 2vw #55efc4, 0 0 0.1vw #55efc4, 0.1vw 0.1vw 0.5vw #0a3940;
    color: #3dc1d3;
  }
}

.content {
  position: absolute;
  width: 25vw;
  height: 18vw;
  left: 60vw;
  background-color: #f5cd79;
  color: black;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
